.search-widget {
  background-size: cover;

  .search-form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 16vh;
    color: black;
    margin-left: 10%;

    .YelpBusinessH1 {
      text-align: left;
      font-size: 135%;
      font-weight: 900;

      h1 {
        padding-left: 2%;
      }
    }

    .YelpBusinessH2 {
      padding-left: 2%;
      text-align: left;
    }

    #search-btn {
      border-radius: 40px;
      width: 20%;
    }
  }
}
